<tr class = "table_row" >

<div class="nested-fields" >
	
		<td class="col-sm-10">	
			<div class = "field">
				<%= f.text_field :answerString, class: "text_field_in_grid"%>
			</div>
		</td>
		<td class="col-sm-1">
			<div class = "field">
				<%= f.check_box :isCorrect %>
			</div>
		</td>
		<td class="col-sm-1">
			<div id="button_text">
				<button type="button" class="btn btn-danger">
				<%= link_to_remove_association "Remove answer", f, {wrapper_class: 'table_row'} %>
				</button>
			</div>
		</td>
	
</div></tr>


