<%= link_to :back, :class => "fa fa-arrow-circle-o-left fa-lg" do %>
  Back
<% end %>
<br><br>
<div class="panel panel-default">
  	<div class="panel-heading">
   		<h1 class="panel-title">Editing Language</h1>
  	</div>
  	<div class="panel-body">
		<%= render 'form' %>
  	</div>
</div>
 