<%= link_to :back, :class => "fa fa-arrow-circle-o-left fa-lg" do %>
  Back
<% end %>
<br><br>
<div class="panel panel-default">
  	<div class="panel-heading">
   		<h1 class="panel-title">Language Info</h1>
  	</div>
  	<div class="panel-body">
		<%= @language.languageName %><br>
		Direction:<%= @direction %>
  	</div>
</div>


<button type = "button" class="btn btn-default">
<%= link_to 'Edit', edit_language_path(@language) %></button>
