<p>
  <strong>Name:</strong>
  <%= @language.languageName %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @direction %>
</p>

<%= link_to 'Edit', edit_language_path(@language) %> 
<%= link_to 'Back', languages_path %>