
<div class="panel panel-default">
  	<div class="panel-heading">
   		<h1 class="panel-title">Add Members to the group "<%=@group.name%>"</h1>
  	</div>
  	<div class="panel-body">
		<%= form_tag({action: :upload, :id => @group.id}, multipart: true) do %>
		  <%= file_field_tag 'file' %> <br>

		  <div class="actions form-group" id="button_text">
	<p>
	<%= button_tag(type: 'submit', class: "btn btn-primary button-submit") do %>
 	Import CSV
	<% end %>
	</p>
	</div>
		<% end %>
  	</div>
</div>