<% flash.each do |type, message| %>
	  <div class="alert alert-<%= bootstrap_class_for(type) %>" style="padding-top: 10px; padding-bottom: 10px;">
	    <button class="close" data-dismiss="alert">×</button>
	    <%= message %>
	  </div>
<% end %>